<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Lab7 Suite">
  <test name="All Tests">
    <classes>
      <class name="dtm.tests.TC_DangNhapTest"/>
      <class name="dtm.tests.TC_GioHangTest"/>
      <class name="dtm.tests.TC_CheckoutTest"/>
      <class name="dtm.tests.TC_TotalTest"/>
    </classes>
  </test>
</suite>